<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        th {
        //            border: 1px solid #efefef;
            text-align: left;
            padding: 0 8px;
        }

        td {
//            border: 1px solid #efefef;
            padding: 8px;
        }

        tr:nth-child(even) {
//            background-color: #efefef;
        }

        td > span {
            font-weight: bold;
        }
    </style>
    <title>FSP Settlement Report</title>
</head>
<body>

<%
    const formatAmount = (amount) => parseFloat(amount).toLocaleString('en-US');
%>

<table>
    <tr>
        <td>Participant ID</td>
        <td style="text-align: right"><%= dfspInfo[0].participantId %></td>
        <td>FSP ID</td>
        <td style="text-align: right"><%= dfspInfo[0].name %></td>
        <td>Settlement ID</td>
        <td style="text-align: right"><%= report[0] && report[0].settlementId %></td>
        <td style="width: 20px"></td>
        <td>Created Date</td>
        <td colspan="2" style="text-align: right"><%= report[0] && report[0].settlementCreatedDate.toISOString() %></td>
        <td style="wisth: 20px"></td>
        <td>Currency</td>
        <td><%= report[0] && report[0].currencyId %></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="14" style="padding-top: 20px"></td>
    </tr>
    <tr>
        <td>Sender Participant ID</td>
        <td>Sender FSP ID</td>
        <td>Receiver Participant ID</td>
        <td>Receiver FSP ID</td>
        <td>Transfer ID</td>
        <td>Tx Type</td>
        <td>Tx Nature</td>
        <td>Last Modified</td>
        <td>Sender ID Type</td>
        <td>Sender ID</td>
        <td>Receiver ID Type</td>
        <td>Receiver ID</td>
        <td>Amount</td>
        <td>Fee</td>
    </tr>
    <% for(let e of report) { %>
        <tr>
            <td><%= e.payerFspid %></td>
            <td><%= e.payerFspName %></td>
            <td><%= e.payeeFspid %></td>
            <td><%= e.payeeFspName %></td>
            <td><%= e.transferId %></td>
            <td><%= e.transactionType %></td>
            <td><%= e.transactionNature %></td>
            <td><%= e.lastModifiedDate.toISOString() %></td>
            <td><%= e.payerIdentifierType %></td>
            <td><%= e.payerIdentifierValue %></td>
            <td><%= e.payeeIdentifierType %></td>
            <td><%= e.payeeIdentifierValue %></td>
            <td><%= formatAmount(e.amount) %></td>
            <td>-</td>
        </tr>
    <% } %>
</table>
</body>
</html>
