<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        th {
        //            border: 1px solid #efefef;
            text-align: left;
            padding: 0 8px;
        }

        td {
//            border: 1px solid #efefef;
            padding: 8px;
        }

        tr:nth-child(even) {
//            background-color: #efefef;
        }

        td > span {
            font-weight: bold;
        }
    </style>
    <title>FSP Settlement Report</title>
</head>
<body>

<%
const formatAmount = (amount) => parseFloat(amount).toLocaleString('en-US', {minimumFractionDigits:4});
const formatNetPosition = (amount) => {
    const v = parseFloat(amount);
    const vf = Math.abs(v).toLocaleString('en-US', {minimumFractionDigits:4});
    return v >= 0 ? vf : `(${vf})`;
}
%>

<table>
    <tr>
        <td><span>Report for:</span></td>
        <td><span>FSP prefix</span></td>
        <td style="text-align: right"><%= dfspInfo[0]?.participantId %></td>
        <td><span>FSP ID</span></td>
        <td><%= dfspInfo[0]?.name %></td>
        <td><span>Settlement ID</span></td>
        <td style="text-align: right"><%= report[0]?.settlementId %></td>
        <td></td>
        <td><span>Created Date</span></td>
        <td colspan="2" style="text-align: right"><%= report[0] && (d = report[0].createdDate, `${d.toLocaleDateString('en-ZA')} ${d.toLocaleTimeString('en-US')}`)%></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span>Last Action Date</span></td>
        <td colspan="2" style="text-align: right"><%=
            report[0] &&
            (d = report
                    .filter(a => a.lastActionDate)
                    .reduce((a,b) => a.lastActionDate.getTime() > b.lastActionDate.getTime() ? a : b).lastActionDate,
                    `${d.toLocaleDateString('en-ZA')} ${d.toLocaleTimeString('en-US')}`)
            %></td>
    </tr>
    <tr>
        <td colspan="100%" style="padding-top: 20px"></td>
    </tr>
    <tr>
        <th>Window ID</th>
        <th>FSP prefix</th>
        <th>FSP ID</th>
        <th>Sent to FSP</th>
        <th></th>
        <th>Received from FSP</th>
        <th></th>
        <th>Total</th>
        <th>Total Value of All Transactions</th>
        <th>Net Position vs. Each DFSP</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Volume</th>
        <th>Value</th>
        <th>Volume</th>
        <th>Value</th>
        <th>Volume</th>
        <th></th>
        <th></th>
    </tr>
    <% for(let entry of report) { %>
        <tr style="text-align: right">
            <td><%= entry.settlementWindowId %></td>
            <td><%= entry.participantId %></td>
            <td style="text-align: left"><%= entry.name %></td>
            <td><%= entry.sentVolume %></td>
            <td><%= formatAmount(entry.sentAmount) %></td>
            <td><%= entry.receivedVolume %></td>
            <td><%= formatAmount(entry.receivedAmount) %></td>
            <td><%= entry.totalVolume %></td>
            <td><%= formatAmount(entry.totalAmount) %></td>
            <td><%= formatNetPosition(entry.netAmount) %></td>
        </tr>
    <% } %>

    <tr>
        <td colspan="9" style="padding-top: 30px"><span>Aggregated Net Positions</span></td>
        <td style="text-align: right"><%= report[0] && formatNetPosition(report.reduce((a, b) => a + (parseFloat(b.netAmount) || 0), 0)) %></td>
    </tr>
</table>
</body>
</html>
